body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #222;

    /* ✅ Ajout pour footer en bas */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
 /* Adaptation responsive pour mobiles */
@media (max-width: 600px) {
  .container {
    width: 100% !important;
    padding: 0 12px !important;
  }
  h1, h2, h3 {
    font-size: 1.5rem !important;
}

  .grid {
    grid-template-columns: 1fr !important;
  }

  button, input, select, textarea {
    width: 100% !important;
    box-sizing: border-box;
  }
}
/* HEADER */
header {
    background-color: #b30000;
    color: white;
    padding: 20px;

    /* ✅ Header fixé */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

  h1, h2, h3 {
    font-size: 1.5rem !important;
}

  .grid {
    grid-template-columns: 1fr !important;
  }

  button, input, select, textarea {
    width: 100% !important;
    box-sizing: border-box;
  }


  nav {
    flex-direction: column !important;
    align-items: flex-start !important;
  }

nav .btn-admin {
    margin-left: auto;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* MAIN */
main {
    padding: 20px;
    max-width: 1200px;
    width: 90%;
    margin: auto;

    /* ✅ Permet de pousser le footer */
    flex: 1;

    /* ✅ Compense le header fixe */
    margin-top: 120px; /* ajuste si besoin */
}

section {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* FORM */
input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    box-sizing: border-box;
}

textarea {
    height: 120px;
}

button {
    background-color: #b30000;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #8f0000;
}

/* ARTICLES */
.article {
    border-left: 5px solid #b30000;
    padding: 15px;
    margin-bottom: 20px;
    background: #fafafa;
}

.article small {
    color: gray;
}

.delete {
    color: red;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
}

.delete:hover {
    text-decoration: underline;
}

/* FOOTER */
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

/* ERREUR */
.error {
    color: red;
    font-weight: bold;
}

/* IFRAME */
iframe {
    display: block;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}
